<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <comment>ORDS behind Cloudflared (HTTPS external)</comment>

  <!-- Database APIs -->
  <entry key="database.api.enabled">true</entry>
  <entry key="mongo.enabled">true</entry>

  <!-- ORDS Standalone -->
  <entry key="standalone.http.port">8080</entry>
  <entry key="standalone.access.log">/tmp/ords_access_logs/</entry>
  <entry key="standalone.static.path">/opt/oracle/ords/images</entry>

  <!-- Reverse proxy / Cloudflare -->
  <entry key="standalone.proxy.forwarded">true</entry>

  <!-- Security / HTTPS -->
  <entry key="security.forceHTTPS">true</entry>

  <!-- CORS -->
  <entry key="security.allowedOrigins"> https://yoursite.com.br </entry>
  <entry key="security.externalSessionTrustedOrigins"> https://yoursite.com.br </entry>

</properties>